<a href="/Plugin/Subscription/List" class="list-group-item list-group-item-action menu-link">
    <i class="fal fa-fw fa-xl fa-credit-card list-group-item-icon"></i>
    &nbsp;&nbsp;<span>My Subscription</span>
</a>

