@model IList<CC.Plugins.Subscription.Models.MarketResponse>
@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Market Subscription";
    Layout = "_Layout";
}

@*<link rel="stylesheet" href="~/Themes/GreatClips/Content/style.css" />*@
<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/kendo.default.min.css" />
<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/kendo.mobile.all.min.css" />
<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/kendo.common.min.css" />
<script src="~/Themes/GreatClips/Content/kendo/js/kendo.all.min.js"></script>




<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <span>Market:</span>
            <input type="text" class="form-control" id="txtMarketFilter" placeholder="Enter market name to search" />
        </div>
        <div class="col-sm-6 align-self-center">
            <h4 style="text-align:center;" id="market-caption"></h4>

        </div>

    </div>
    <div class="row">
        <div class="col-sm-4"><div class="gc-grid" id="market-grid"></div></div>
        <div class="col-sm-8"><div id="salon-subscription-grid"></div></div>
    </div>



</div>

<script type="text/javascript">


    $(function () {

        debugger;
        renderMarketGrid();
       // renderSalonSubscriptionGrid();

        $.post("@Url.Action("MarketList", "Subscription")")
            .done(function (result) {
                if (result != null) {

                    var marketListDatasource = new kendo.data.DataSource({
                        data: result,
                        sort: [{ field: "MarketName", dir: "asc" }]
                    });

                    $('#market-grid').data("kendoGrid").setDataSource(marketListDatasource);

                }


            });

        $('#txtMarketFilter').keyup(function(e) {

            var searchterm = $('#txtMarketFilter').val();

            if (searchterm == null || searchterm.length == 0) {
                $('#market-grid').data("kendoGrid").dataSource.filter({});
            }
            else {

                var marketFilter = { logic: "or", filters: [] };

                marketFilter.filters.push({ field: "MarketCode", operator: "contains", value: searchterm });
                marketFilter.filters.push({ field: "MarketName", operator: "contains", value: searchterm });

                $('#market-grid').data("kendoGrid").dataSource.filter(marketFilter);
            }

        });

    });

    function renderSalonSubscriptionGrid() {

        $('#salon-subscription-grid').kendoGrid({
            dataSource: [],
            noRecords: {
                template: "No data available."
            },
            sortable: true,
            pageable: false,
            height: "500",
            columns: [{
                field: "SalonCode",
                title: "Location<br/>#",
                width: 70
            },
            {
                field: "SalonName",
                title: "Location<br/>Name",
                width: 120
            },
            {
                field: "Email",
                title: "Owner Email",
                width: 200
                },
            {
                field: "P2N",
                title: "P2N",
                width: 70
            },
            {
                field: "N2B",
                title: "N2B",
                width: 70
            },
            {
                field: "B2G",
                title: "B2G",
                width: 70
            },
            {
                title: "Action",
                width: 100,
                template: "<a href='/Plugin/Subscription/ListDetail?salonId=#=Id#' target='_blank' class='btn btn-primary'>Edit</a>"
            }
            ]
        });

    }

    function renderMarketGrid() {

        $('#market-grid').kendoGrid({
            dataSource: [],
            noRecords: {
                template: "No data available."
            },
            sortable: true,
            pageable: false,
            height: 500,
            columns: [{
                field: "Id",
                title: "Market",
                template: "#= MarketCode # - #=MarketName #",
                attributes: { style: "text-align:left !important" },
                width: 150
            },
            {
                title: "Action",
                width: 60,
                template: "<span class='btn btn-info' onclick='getSalonSubscriptionData(#= Id #, \"#= MarketName #\")'>Show</span>"
            }
            ]
        });

    }

    function getSalonSubscriptionData(marketId, marketName) {
        $("#market-caption").text(marketName);      

        $.ajax({
            type: "POST",
            url: '@Url.Action("MarketSubscriptionList", "Subscription")',
            data: JSON.stringify({ marketId: marketId }),
            datatype: "html",
            contentType: 'application/json',
            success: function (result) {

                if (result != null) {                   

                    $('#salon-subscription-grid').html(result);

                }

            },
        });
    }

</script>

   