@model IList<CC.Plugins.Subscription.Models.MarketResponse>
@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "Market Subscription";
    Layout = "_Layout";
}

@*<link rel="stylesheet" href="~/Themes/GreatClips/Content/style.css" />*@
<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/kendo.default.min.css" />
<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/kendo.mobile.all.min.css" />
<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/kendo.common.min.css" />
<link rel="stylesheet" href="~/Themes/GreatClips/Content/kendo/css/datepicker.css" />
<script src="~/Themes/GreatClips/Content/kendo/js/kendo.all.min.js"></script>
<script src="~/Themes/GreatClips/Content/js/bootstrap-datepicker.js"></script>




<div class="container">

    <div class="row marketTitleBar" >
        <div class="col-sm-4">
            <div class="form-group row">
                @*<label for="inputEmail3" class="col-sm-2 col-form-label">Market</label>*@
                <div class="col-sm-12">

                    <input type="text" class="form-control" id="txtMarketFilter" placeholder="Enter market name to search" />
                    
                    
                </div>
            </div>
            
        </div>
        <div class="col-sm-6 align-self-center">
            <h4 style="text-align:center;" id="market-caption"></h4>

        </div>

    </div>
    <div class="row">
        <div class="col-sm-4"><div class="gc-grid card-grid" id="market-grid"></div></div>
        <div class="col-sm-8"><div id="salon-subscription-grid"></div></div>
    </div>



</div>

<script type="text/javascript">


    $(function () {

        debugger;
        renderMarketGrid();
       // renderSalonSubscriptionGrid();

        $.post("@Url.Action("MarketList", "Subscription")")
            .done(function (result) {
                if (result != null) {

                    var marketListDatasource = new kendo.data.DataSource({
                        data: result,
                        sort: [{ field: "MarketName", dir: "asc" }]
                    });

                    $('#market-grid').data("kendoGrid").setDataSource(marketListDatasource);

                }


            });

        $('#txtMarketFilter').keyup(function(e) {

            var searchterm = $('#txtMarketFilter').val();

            if (searchterm == null || searchterm.length == 0) {
                $('#market-grid').data("kendoGrid").dataSource.filter({});
            }
            else {

                var marketFilter = { logic: "or", filters: [] };

                marketFilter.filters.push({ field: "MarketCode", operator: "contains", value: searchterm });
                marketFilter.filters.push({ field: "MarketName", operator: "contains", value: searchterm });

                $('#market-grid').data("kendoGrid").dataSource.filter(marketFilter);
            }

        });

    });

    

    function renderMarketGrid() {

        $('#market-grid').kendoGrid({
            dataSource: [],
            noRecords: {
                template: "No data available."
            },
            sortable: true,
            pageable: false,
           
            columns: [{
                field: "Id",
                title: "Market",                
                attributes: { style: "text-align:left !important;"},
                width: 150,
                template: "<a  class='' style='display:block;text-align:left !important;'  onclick='getSalonSubscriptionData(#= Id #, \"#= MarketCode #\", \"#= MarketName #\")'>#= MarketCode # - #=MarketName #</a>"
            }
            
            ]
        });

    }

    function getSalonSubscriptionData(marketId, marketCode, marketName) {
        $("#market-caption").text(marketCode + ' - ' + marketName);

        $.ajax({
            type: "POST",
            url: '@Url.Action("MarketSubscriptionList", "Subscription")',
            data: JSON.stringify({ marketId: marketId }),
            datatype: "html",
            contentType: 'application/json',
            success: function (result) {

                if (result != null) {                   

                    $('#salon-subscription-grid').html(result);

                }

            },
        });
    }

</script>

   